$primary-color: #6a00ff;
$background-color: #f8f9fa;
$input-background-color: #e0e0e0;
$input-border-color: #ced4da;

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.log-in {
  background: white;
  padding: 20px;
  width: 300px;
  border: 1px solid black;
}

.log-in__title {
  text-align: center;
  margin-bottom: 20px;
}

.log-in__img {
  display: block;
  margin: 0 auto 50px;
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.login-form {
  &__group {
    margin-bottom: 20px;
    position: relative;
  }

  &__label {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 0 5px;
    color: rgb(61, 61, 61);
    transition: 0.2s ease all;
  }

  &__i-icon {
    width: 16px;
  }

  &__input {
    width: 92.5%;
    padding: 12px 10px;
    background-color: rgb(229, 229, 229);
    border: 1px solid $input-border-color;
    transition: border-color 0.2s;
    border-bottom: 1px solid black;

    &:focus {
      background-color: white;
      outline: none;
      border-color: darken($primary-color, 10%);

      ~ .login-form__label {
        top: -13px;
        font-size: 12px;
        color: $primary-color;
      }
    }

    &:valid,
    &:focus {
      ~ .login-form__label {
        top: -13px;
        font-size: 12px;
        color: $primary-color;
      }
    }
  }
  &__i-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    pointer-events: none;
  }

  &:last-child .login-form__i-icon {
    left: auto;
    right: 10px;
  }

  &__link {
    display: block;
    margin: 5px 0 10px;
    text-align: right;
    font-size: 0.9em;
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s;
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      width: 10px;
    }
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
